<div class="container-fluid text-center">
	<h1>MineSweeper!</h1>
	<div class="panel panel-default">
		<div class="panel-body noselect">

			<h1 ng-show="ctrl.game.hasWon">YOU WIN</h1>
			<h1 ng-show="ctrl.game.hasLost">YOU LOSE</h1>
			<h1 ng-show="ctrl.game.isRunning">Minesweeper</h1>
			<div class="container-fluid">
				<button ng-click="ctrl.newGame('easy')" class="btn btn-success">New Easy Game</button>
				<button ng-click="ctrl.newGame('medium')" class="btn btn-success">New Medium Game</button>
				<button ng-click="ctrl.newGame('hard')" class="btn btn-success">New Hard Game</button>
			</div>
			<div class="container-fluid">
				<span class="h2">{{ctrl.game.flags || 0}}/{{ctrl.game.difficulty*1.5 | number:0}}</span>
				<span ng-hide="ctrl.game.isRunning" class="h2">Time: {{ctrl.game.duration}} seconds</span>
			</div>


			<div class="grid" oncontextmenu="return false">
				<div class="clearfix" ng-repeat="row in ctrl.game.grid track by $index">
					<div class="cell" ng-mousedown="ctrl.handleClick($event, cell)" ng-class="{'hasmine': (cell.hasMine && ctrl.game.hasLost), 'revealed': cell.isRevealed, 'hasflag': cell.hasFlag}" ng-repeat="cell in row track by $index">{{cell.touching}}</div>
				</div>
			</div>

		</div>
	</div>
</div>